/* items */
/* Estilos de items especificos */
.title {
  margin-left: 30px;
  text-align: center;
  margin-top: 80px; }

.text {
  margin-left: 50px;
  text-align: center;
  color: white; }

body {
  padding-top: 0px;
  background: #f5f7f8; }

.grid-1 {
  display: grid;
  width: 100%;
  text-align: center;
  max-width: auto;
  margin-top: 10px;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: 80px auto 80px;
  grid-gap: 20px;
  grid-template-areas: "header   header   header" "main     main   main" "footer   footer footer"; }
  .grid-1 div {
    color: white;
    font-size: 20px;
    padding: 20px; }

.item-1 {
  background: #000000;
  border-style: solid;
  grid-area: header;
  text-align: center; }

.item-2 {
  width: auto;
  margin-left: 5px;
  background: #000000;
  grid-area: main;
  display: flexbox;
  color: white; }

.item-4 {
  width: auto;
  height: 100px;
  background: #99ff00;
  grid-area: footer; }

.div {
  text-align: center; }

.button {
  display: flexbox;
  width: 33,33%;
  height: 25px;
  font-size: small;
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 3px; }

.grid-conteiner {
  font-size: 30px;
  background-color: black;
  display: grid;
  grid-template-columns: 0px auto 0px;
  grid-template-rows: 100px 400px 0px;
  gap: 2px; }
  .grid-conteiner > * {
    background-color: #357a00;
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; }

header {
  grid-column: 1 / span 3; }

footer {
  grid-column: 1 / span 3; }

.head {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.center {
  background-color: #6f6f6f;
  color: white;
  font-size: x-large;
  text-align: center;
  display: block; }

.video {
  position: relative;
  overflow: hidden; }
  .video iframe {
    display: grid;
    position: relative; }
