
$color_1: white;
$color_2: black;
$font-family_1: Verdana, Geneva, Tahoma, sans-serif;
$background-color_1: black;
$background-color_2: #357a00;
$background-color_3: rgb(111, 111, 111) ;

/* items */
/* Estilos de items especificos */
.title {
	margin-left: 30px;
	text-align: center;
	margin-top: 80px;
}
.text {
	margin-left: 50px;
	text-align: center;
	color: $color_1;
}
body {
	padding-top: 0px;
	background: #f5f7f8;
}
.grid-1 {
	display: grid;
	width: 100%;
	text-align: center;
	max-width: auto;
	margin-top: 10px;
	grid-template-columns: repeat(3 1fr);
	grid-template-rows: 80px auto 80px;
	grid-gap: 20px;
	grid-template-areas: "header   header   header" "main     main   main" "footer   footer footer";
	div {
		color: $color_1;
		font-size: 20px;
		padding: 20px;
	}
}
.item-1 {
	background: #000000;
	border-style: solid;
	grid-area: header;
	text-align: center;
}
.item-2 {
	width: auto;
	margin-left: 5px;
	background: #000000;
	grid-area: main;
	display: flexbox;
  color:white
}
.item-4 {
	width: auto;
	height: 100px;
	background: #99ff00;
	grid-area: footer;
}
.div {
	text-align: center;
}
.button {
	display: flexbox;
	width: 33,33%;
	height: 25px;
	font-size: small;
	background-color: $background-color_1;
	color: $color_1;
	border-style: solid;
	border-radius: 3px;
}
.grid-conteiner {
	font-size: 30px;
	background-color: $background-color_1;
	display: grid;
	grid-template-columns: 0px auto 0px;
	grid-template-rows: 100px 400px 0px;
	gap: 2px;
	>* {
		background-color: $background-color_2;
		border: 1px solid black;
		color: $color_2;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
header {
	grid-column: 1 / span 3;
}
footer {
	grid-column: 1 / span 3;
}
.head {
	background-color: $background-color_1;
	color: $color_1;
	font-family: $font-family_1;
}
.center {
	background-color: $background-color_3;
	color: $color_1;
	font-size: x-large;
	text-align: center;
	display: block;
}
.video {
	position: relative;
	overflow: hidden;
	iframe {
		display: grid;
		position: relative;
	}
}